<footer class="page-footer light-green">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <img
          src="assets/images/Logo02.png"
          id="logo-footer"
          class="img-responsive"
          height="120em"
        />
      </div>
    </div>
  </div>
  <div class="footer-acessado-usuaruio">
    <div class="container my-font">
      Acessado em {{ this.data }} pelo usuário {{ this.user }}
    </div>
    <ng-content></ng-content>
  </div>
</footer>
