<p>consultas works!</p>

<span>
  <div>
    <h5>Consultas</h5>
    <hr />
    <div class="row">
      <div class="col s12 m6">
        <div class="input-field col s12">
          <input id="id-consulta"/>
        </div>
      </div>
      <div class="col s12 m6">
        <a routerLink="" (click)="abrirExames()">
          <div class="card-panel blue center my-card-button">
            <span class="white-text flow-text"> Buscar Exames </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</span>
