<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
body {
  			background-color: #abdbe3;
		}
</style>
<body>

<h2>Pets Cadastrados</h2>

<table style="width:100%">
  <tr>
    <th>Nome</th>
    <th>Data de nascimento</th>
    <th>Foto</th>
  </tr>
  <tr>
    <td>Lisa</td>
    <td>04 de Junho de 2022</td>
    <td width="500" height="333"><img src="/assets/lisa.jpg" alt="Lisa" width="500" height="333"></td>
  </tr>
  <tr>
    <td>Luna</td>
    <td>01 de Dezembro de 2022</td>
    <td width="500" height="333"><img src="/assets/luna.jpg" alt="Luna" width="500" height="333"></td>
  </tr>
</table>

</body>
</html>
