<header>
  <app-menu></app-menu>
</header>

<main>
  <span [hidden]="!this.isWorkingInPage">
    Estamos trabalhando nessa pagina :)
  </span>
  <span [hidden]="this.isWorkingInPage">
    <div id="painel-servicos">
      <h5>Página principal</h5>
      <hr />
      <div class="row">
        <div class="col s12 m6">
          <a routerLink="/pets">
            <div class="card-panel blue center my-card-button">
              <span class="white-text flow-text"> Pets </span>
            </div>
          </a>
        </div>
        <div class="col s12 m6">
          <a routerLink="/vacinas">
            <div class="card-panel blue center my-card-button">
              <span class="white-text flow-text"> Vacinas </span>
            </div>
          </a>
        </div>
        <div class="col s12 m6">
          <a routerLink="/consultas">
            <div class="card-panel blue center my-card-button">
              <span class="white-text flow-text"> Consultas </span>
            </div>
          </a>
        </div>
        <div class="col s12 m6">
          <a routerLink="/medicacao">
            <div class="card-panel blue center my-card-button">
              <span class="white-text flow-text"> Medicação </span>
            </div>
          </a>
        </div>
        <div class="col s12 m6">
          <a routerLink="/servicos">
            <div class="card-panel blue center my-card-button">
              <span class="white-text flow-text"> Serviços </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </span>
</main>

<app-footer></app-footer>
